* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 1%;
}



/* ### STRUCTURE TABLES ###*/
#table-out {
    font-family: arial, sans-serif;
    width: 100%;
}

#table-out-th {
    text-align: center;
}



/* ### SPECIFIC TABLES ###*/
#metatable {
    font-family: arial, sans-serif;
}

#metavalue {
    text-align: right;

}

#metatr {
    font-family: arial, sans-serif;
    padding: 10px;
}

#metakey {
    text-transform: capitalize;

}

#sysvalue {
    text-align: right;

}

#systr {
    font-family: arial, sans-serif;
    padding: 10px;
}

#syskey {
    text-transform: capitalize;

}





/* 
###### PROVIDER LABEL ###########
*/

#provider-label {
    text-align: left;
    /* width: 200px; */
    /* height: 50px;  */
    font-size: medium;
}


/* ###### VENDOR LABEL ###########*/
#vendorlabel {
    text-align: center;
}

/* ###### CONTAINERS ###########*/
.truncate-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: pink;
}


/* ###### STRUCTURE ###########*/
#headerrow {
    height: 50px;
}

#bodyrow-01 {
    height: 50px;
    border: solid black 1px;
}
#bodyrow-02 {
    border: solid black 1px;
}
#bodyrow-03 {
    border: solid black 1px;
}
#bodyrow-04 {
    border: solid black 1px;
}


#footerrow {
    border: solid black 1px;
}










